section.about-LMS
    .about-LMS-content
        .about-LMS-content-text
            h2 About LMS
            .about-LMS-content-text-main
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit necessitatibus ex esse eligendi, minima, veritatis vitae eveniet facilis id alias enim illo! Non molestiae optio eveniet facere, minus nemo minima.
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat placeat, tempora perspiciatis quisquam itaque. Quia placeat, impedit, officiis voluptas doloremque laboriosam possimus doloribus quod accusamus provident, culpa consectetur quae modi?
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse doloribus voluptatibus corporis et voluptates culpa est natus. Deleniti optio perspiciatis ab, a iure illum ipsum nihil quae, aliquam labore amet.
            .button
                a(href='#') Read more
        .about-LMS-content-photo
            img(src='images/aboutLMS/aboutLMS.jpeg' alt='about image')
