section.achievements
    .achievements-content
        h2 Our Achievements
        .achievements-list
            .achieve
                img(src='images/achievements/activeStudents.png' alt='active students')
                span.achieve-numbers 6079
                br
                span.achieve-title Active Students
            .achieve
                img(src='images/achievements/awardWinning.png' alt='award winning')
                span.achieve-numbers 1039
                br
                span.achieve-title Award Winning
            .achieve
                img(src='images/achievements/modelTest.png' alt='model test')
                span.achieve-numbers 6092
                br
                span.achieve-title Model Test
            .achieve
                img(src='images/achievements/skilledFaculty.png' alt='skilled faculty')
                span.achieve-numbers 1032
                br
                span.achieve-title Skilled Faculty
        .achievements-line
        .achievements-description
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, maiores, vel. Magni, autem deleniti. Deserunt optio esse ipsum id perferendis nemo eos, modi, deleniti quidem labore aliquam, error officia autem!
        .achievements-video
            p.achievements-video-title Skill Development
            .video-play
                img(src='images/achievements/imgPlay.png' alt='play')
