section.courses
    .courses-content
        h2 Latest Courses
        .cards
            .cards-card
                .cards-card-image.fashion-image
                .cards-card-info
                    div
                        .type
                            .type-info
                                i.fa.fa-folder-open
                                |  Business
                            .price-info $159.00
                        .course
                            .course-name Fashion Design
                            .rating
                                span.fa.fa-star.rating-checked
                                span.fa.fa-star.rating-checked
                                span.fa.fa-star.rating-checked
                                span.fa.fa-star.rating-checked
                                span.fa.fa-star
                    .description
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime pariatur reiciendis perspiciatis soluta odio nemo consequatur saepe, a debitis molestiae cum alias facilis necessitatibus incidunt nesciunt beatae, totam excepturi itaque...
                    .apply-button
                        a(href='#') apply now
            .cards-card
                .cards-card-image.mathematics-image
                .cards-card-info
                    div
                        .type
                            .type-info
                                i.fa.fa-folder-open
                                |  Computer Science
                            .price-info $179.00
                        .course
                            .course-name Mathematics
                            .rating
                                span.fa.fa-star.rating-checked
                                span.fa.fa-star.rating-checked
                                span.fa.fa-star.rating-checked
                                span.fa.fa-star.rating-checked
                                span.fa.fa-star.rating-checked
                    .description
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime pariatur reiciendis perspiciatis soluta odio nemo consequatur saepe, a debitis molestiae cum alias facilis necessitatibus incidunt nesciunt beatae, totam excepturi itaque...
                    .apply-button
                        a(href='#') apply now
            .cards-card
                .cards-card-image.marketing-image
                .cards-card-info
                    div
                        .type
                            .type-info
                                i.fa.fa-folder-open
                                |  Natural Science
                            .price-info $149.00
                        .course
                            .course-name Marketing
                            .rating
                                span.fa.fa-star.rating-checked
                                span.fa.fa-star.rating-checked
                                span.fa.fa-star.rating-checked
                                span.fa.fa-star.rating-checked
                                span.fa.fa-star
                    .description
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime pariatur reiciendis perspiciatis soluta odio nemo consequatur saepe, a debitis molestiae cum alias facilis necessitatibus incidunt nesciunt beatae, totam excepturi itaque...
                    .apply-button
                        a(href='#') apply now
