footer
    .footer-content
        .signup
            p.signup-text
                | Sign Up
                br
                |  for Our Newssletter
            form(action='#')
                input(type='text' name='email' placeholder='Enter your email')
                input(type='submit' name='submit' value='Submit now')
        .social
            span
                i.fa.fa-facebook-f
            span
                i.fa.fa-twitter
            span
                i.fa.fa-google-plus-g
            span
                i.fa.fa-linkedin-in
            span
                i.fa.fa-youtube
        .addresses
            .address
                span.bigger Address:
                br
                | &#x9;&#x9;&#x9;&#x9;&#x9;73724 Route 30
                br
                | &#x9;&#x9;&#x9;&#x9;&#x9;South Richmond Hill, NY 11419
                br
                br
                span.bigger Tel:
                |  (603)-677-3400
                br
                span.bigger Email:
                |  info@yourdomain.com
                br
                span.bigger Web:
                |  yourdomain.com
            .links
                span.bigger Quick Links:
                br
                a(href='#') Calender
                br
                a(href='#') Maps &amp; Directions
                br
                a(href='#') Our News
                br
                a(href='#') University Courses
                br
                a(href='#') Contact us
            .maps
                img(src='images/footer/map.png' alt='map')
        .footer-divider
        .copyright
            .team
                .team-reference
                    .team
                        i.fa.fa-users
                        |  Team
                    .joinus
                        i.fa.fa-bullhorn
                        |  Join Us
                    .inviteus
                        i.fa.fa-paper-plane
                        |  Invite Us
            .copyr
                p Copyright &copy; 2017 LMS EDUCATION. All Rights Reserved

