section.gallery
    .gallery-content
        .gallery-p.gallery-photo1
        .gallery-p.gallery-photo2
        .gallery-p.gallery-photo3
        .gallery-p.gallery-photo4
        .view-images-button
            a(href='#') VIEW ALL IMAGES
