header
    .register
        .register-content
            .contacts
                i.fa.fa-phone
                |  1-800-633-3469 /
                a(href='mailto:mailedukado.com ' )
                    i.fa.fa-envelope
                    |   mailedukado.com
            .register-form
                a(href='#')
                    i.fa.fa-user
                    |   Register  /

                a(href='#')
                    i.fa.fa-sign-in
                    |   Login
    nav
        .nav-content
            .logo LearnXpert
            .nav-content-menu
                a.active(href='#') home
                a(href='#') courses
                a(href='#') pages
                a(href='#') faculty
                a(href='#') about
                a(href='#') blog
                a(href='#') contact
            .find
                a(href='#')
                    i.fa.fa-search