section.interested
    .interested-content
        h2
            | Which One You Interested?
        .interested-content-slideset
            .interested-content-slide
                .interested-picture
                    i.fa.fa-html5
                p HTML
            .interested-content-slide
                .interested-picture
                    img(src='images/interested/photoshop.png' alt='photoshop')
                p Photoshop
            .interested-content-slide
                .interested-picture
                    i.fa.fa-android
                p Android
            .interested-content-slide
                .interested-picture
                    i.fa.fa-html5
                p HTML
            .interested-content-slide
                .interested-picture
                    img(src='images/interested/photoshop.png' alt='photoshop')
                p Photoshop
            .interested-content-slide
                .interested-picture
                    i.fa.fa-android
                p Android
