section.live-class
    .live-class-content
        .live-class-description
            h3 Welcome to
            h2 Live Class
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia cumque maiores voluptates dolorem consectetur optio, dolore aperiam iste nulla at voluptatem est ut unde facilis animi doloribus, eos officiis ipsam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae expedita optio vel ducimus enim esse, eaque provident libero vero nisi dignissimos, dolor perferendis deleniti illum, incidunt eveniet commodi ex voluptates..
            .classes-button
                a(href='#') VIEW ALL CLASSES
        .live-class-videos
            .live-class-videos-slide
                .video-play
                    img(src='images/achievements/imgPlay.png' alt='play')
            .live-class-videos-selector
                p.selector-pointer 1/105
                .prev
                    p  &lt;&lt;
                .next
                    p  &gt;&gt;
