section.news
    .news-content
        h2 News Portal
        .news-tiles
            .news-tiles-item
                .news-tiles-image.news1
                .news-tiles-text
                    .tiles-text-date
                        p February 25, 2017
                    .tiles-text-title
                        p A Diploma of Accounting is specifically designed for (...)
                    .news-tiles-more
                        a(href='#') Read More ...
            .news-tiles-item
                .news-tiles-image.news2
                .news-tiles-text
                    .tiles-text-date
                        p February 20, 2017
                    .tiles-text-title
                        p A Diploma of Accounting is specifically designed for (...)
                    .news-tiles-more
                        a(href='#') Read More ...
            .news-tiles-item
                .news-tiles-image.news3
                .news-tiles-text
                    .tiles-text-date
                        p February 19, 2017
                    .tiles-text-title
                        p A Diploma of Accounting is specifically designed for (...)
                    .news-tiles-more
                        a(href='#') Read More ...
        .news-button
            a(href='#') VIEW ALL POST
