doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content="IE=edge")
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="css/main.min.css")
        link(rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
        title gusencheko

    body
      include sections/header
      include sections/slider
      include sections/about-LMS
      include sections/interested
      include sections/courses
      include sections/achievements
      include sections/live-class
      include sections/gallery
      include sections/news
      include sections/footer